@import "./fonts.scss";

$color-yellow: #ffd34b;
$color-yellow2: #feecba;
$color-green: #4a7750;
$color-green2: #c1d3c2;
$color-black:#231f20;

$font-helveticalight: "helveticalight";
$font-helveticaregular: "helveticaregular";
$font-helveticamedium: "helveticamedium";
$font-helveticaBold: "HelveticaBold";
